.custom-category-toggle {
  position: absolute;
  right: 0;
  margin-top: 0.25em;
  z-index: 1;
}

// minimal adjustments to accommodate button
.category-list {
  tr {
    position: relative;
  }
  &.with-topics {
    .custom-category-toggle {
      top: 0;
    }
    .latest {
      padding-right: 4em;
    }
  }
  td.category.muted {
    height: 4em;
  }
}
