.custom-category-toggle {
  position: absolute;
  right: 0;
  margin-top: 0.25em;
  svg:nth-of-type(1) {
    display: none;
  }
  .discourse-no-touch & {
    &:hover {
      // show reverse button state on hover
      svg:nth-of-type(1) {
        display: inline-block;
      }
      svg:nth-of-type(2) {
        display: none;
      }
    }
  }
}

// some minor adjustments to accommodate button
.category-list {
  tr {
    position: relative;
  }
  &.with-topics {
    .custom-category-toggle {
      top: 0;
    }
    .latest {
      padding-right: 4em;
    }
  }
}
